*{
    margin: 0;
    padding: 0;
    justify-content: center;
}

.main-content{
    margin-top: 5rem;
}
.dropdown Link{
    color: black;
}
.one-edge-shadow {
    -webkit-box-shadow: 0 8px 6px -6px grey;
       -moz-box-shadow: 0 8px 6px -6px grey;
            box-shadow: 0 8px 6px -6px grey;
}
.border-style{
    width: 45vw;
    border:1px solid #f0f2f5  ;
    border-radius: 5px ;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px #fff;
}

.icon-size{
    font-size: 35px;
}

.caption{
    background-color:#f0f2f5;
    border: none;
    border-radius: 25px;
}